<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database</a>

		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit">GET EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">Attendance</button>
		</form>
	</div>

	<form action="/" autocomplete="on" method = "GET">
		<button type="submit">HOME</button>
	</form>
	<center>
		<br><br><br><h1>ADD NEW EMPLOYEE INFORMATION</h1><br><br>
	</center>
	<div class="form-part"><br><br>
		
		<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">
			Employee ID:<br> <input type="number" name="emp_id" autofocus size="40"><br><br>
			First Name:<br> <input type="text" name="first_name" ><br><br>
			Last Name:<br> <input type="text" name="last_name"><br><br>
			Primary Skills:<br> <input type="text" name="pri_skill" list="pri_skill">
			<datalist id="pri_skill">
				<option value="Cloud Computing">
				<option value="R Programming">   
				<option value="C++ Programming">
				<option value="Java Programming">  
				<option value="Web Design">
				<option value="Python Programming">
				<option value="SQL">    
				<option value="Machine Learning">
			</datalist>
			<br><br>
			Location:<br> <input type="text" name="location" list="location">
			<datalist id="location">
				<option value="Johor">
				<option value="Kedah">  
				<option value="Kelantan">
				<option value="Kuala Lumpur">  
				<option value="Malacca">
				<option value="Negeri Sembilan">
				<option value="Pahang">    
				<option value="Penang"> 
				<option value="Perak">
				<option value="Perlis">    
				<option value="Sabah">
				<option value="Sarawak">
				<option value="Selangor">
			</datalist>
			<br><br>
			Image: <input type=file name="emp_image_file"> <br><br>

			<button type="submit">UPDATE DATABASE</button>

		</form>
	</div>
		
	
</body>

</html>
