<!DOCTYPE html>
<html>
<head>
	<title>Added Employee Information</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database</a>
		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit" >GET EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">Attendance</button>
		</form>
	</div>
	<form action="/" autocomplete="on" method = "GET">
		<button type="submit">HOME</button>
	</form>
	<center>
		<div bgcolor="lightgrey"><br><br><br>
			<h1>EMPLOYEE INFORMATION WAS SAVED SUCCESSFULLY</h1><br><br><br>
			<p style="color: grey;">The following employee's information has been added to the database</p><br><br>
			<p style="color: #333;">{{ name }}</p><br><br>
			<br><br><br>
			<form action="/toaddemp" autocomplete="on" method = "GET">
				<button type="submit" >GO BACK TO ADD EMPLOYEE INFORMATION</button><br><br>
			</form>
		</div>
	</center>
</body>
</head>
</html>
