	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database</a>
		<button type="submit" formaction="http://3.134.115.108:80/" method="GET">GO TO UPDATE DATABASE PAGE</button>
	</div>
	
	<center>
		<br><br><br>
		<h1 style="color: rgb(0, 124, 143);">SEARCH FOR EMPLOYEE INFORMATION</h1><br><br><br>
		
		<body bgcolor="lightgrey">

			<form action="/fetchdata" autocomplete="on" method="POST">

				<p style="color: grey">To search for the employee's information, please enter his/her Employee ID.</p><br><br>

				<p>Employee ID:</p><br> <input style="height:22pt; font-size:16pt;" type="number" name="emp_id" autofocus size="40"><br><br><br><br>
				<div style="padding-right: 45pt;">
					<button class="fetch-button" type="submit">FETCH INFO</button><br><br><br><br>
					<button class="reset-button" type="reset">RESET</button>
				</div>
			</form>

		</body>
	</center>
</body>

</html>
