<!DOCTYPE html>
<html>

<head>
    <title>Add Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
    <!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>

<body>
    <div class="topnav">
        <a class="home">Employee Database</a>

        <form action="/getemp" autocomplete="on" method="GET">
            <button type="submit">GET EMPLOYEE INFORMATION</button>
        </form>
        <form action="/toattendance" autocomplete="on" method="POST">
            <button type="submit">Attendance</button>
        </form>
    </div>

    <form action="/" autocomplete="on" method="GET">
        <button type="submit">HOME</button>
    </form>
    <center>
        <br><br><br>
        <h1>SEARCH EMPLOYEE PAYROLL INFORMATION</h1><br><br>
    </center>
    <div class="form-part"><br><br>
        <form action="/getpayroll" autocomplete="on" method="POST" enctype="multipart/form-data">



            Employee ID:<br> <input type="number" name="emp_id" autofocus size="40"><br><br>


            <button type="submit">Search</button>
            <!-- <button type="submit" formaction="PayrollOutput.html">Search</button> -->
        </form>

    </div>


</body>

</html>
